{% extends 'base.html' %}
{% block content %}
{% for elem in users %}
     <h2>Action # {{ elem[0].id }}</h2>
    <table width="1000" height="30" border="1">
        <thead class="thead-dark">
           <tr align="center">
            <th scope="col">Title of activity</th>
            <th scope="col">Team leader</th>
            <th scope="col">Duration</th>
            <th scope="col">List of collaborators</th>
            <th scope="col">Is finished</th>
           </tr>
        </thead>
        <tr><td>{{elem[0].job}}</td><td>{{elem[1].name}} {{elem[1].surname}}</td><td>{{elem[0].work_size}} hours</td><td>{{elem[0].collaborators}}</td>
              <td>{% if elem[0].is_finished == 0 %}Is not finished{% else %}Is finished{% endif %}</td></tr>
  </table>
{% endfor %}
{% endblock %}